[Desktop Entry]
Name=IRPF 2021
GenericName=Imposto de Renda Pessoa Física
Comment=Programa de Declaração de Imposto sobre a Renda da Pessoa Física
Icon=br.gov.economia.receita.IRPF
Exec=/app/bin/irpf.sh
Categories=Network;
Keywords=dirpf;irpf;receitanet;
Type=Application
Terminal=false
